<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/resources/styles/css.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
<a class="back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</a>
<script th:src="@{/resources/scripts/js.js}"></script>
<div id="fb-root"></div>
<script type="text/javascript">
    Common.init();
</script>
</body>
</html>