<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="footer" th:fragment="footer">
     <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8">
                <div class="title">Info</div>
                <p>
                    Danangland chuyên hỗ trợ đất, nhà chính chủ với tiêu chí tìm hàng siêu rẻ, chất lượng cho người có nhu cầu. Tin rao sẽ được kiểm duyệt kỹ trước khi đăng. Cần nhu cầu mua bán nhà đất Đà Nẵng xin liên hệ 0917.365.882 hoặc đăng ký tại website.
                </p>
                <div class="share-social">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="title">Contact</div>
                <p><i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 0917 365 882</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: danangland.org@gmail.com</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: 640 đường 2 tháng 9, Hoà Cường Nam, Hải Châu, Đà Nẵng, Vietnam</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>